USE [master]
GO
/****** Object:  Database [Chatbot]    Script Date: 9/26/2019 11:16:52 AM ******/
CREATE DATABASE [Chatbot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chatbot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Chatbot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chatbot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Chatbot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chatbot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chatbot]
GO
/****** Object:  Table [dbo].[CustomersTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersTbls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[contact] [bigint] NOT NULL,
	[region] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CustomersTbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterestsTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterestsTbls](
	[id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[monitor_id] [int] NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK_InterestsTbls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorsTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorsTbls](
	[monitor_id] [int] NOT NULL,
	[monitor_name] [varchar](100) NULL,
 CONSTRAINT [PK_MonitorsTbls] PRIMARY KEY CLUSTERED 
(
	[monitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionsTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionsTbls](
	[option_id] [int] NOT NULL,
	[option] [varchar](100) NULL,
	[link_id] [int] NOT NULL,
	[monitor_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
 CONSTRAINT [PK_OptionsTbls] PRIMARY KEY CLUSTERED 
(
	[option_id] ASC,
	[link_id] ASC,
	[monitor_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersTbls](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[monitor_id] [int] NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK_OrdersTbls] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsTbls](
	[question_id] [int] NOT NULL,
	[question] [varchar](max) NULL,
 CONSTRAINT [PK_QuestionsTbls] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_InterestsTbls_CustomersTbls]    Script Date: 9/26/2019 11:16:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_InterestsTbls_CustomersTbls] ON [dbo].[InterestsTbls]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__OptionsTb__monit__282DF8C2]    Script Date: 9/26/2019 11:16:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__OptionsTb__monit__282DF8C2] ON [dbo].[OptionsTbls]
(
	[monitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__OptionsTb__quest__2739D489]    Script Date: 9/26/2019 11:16:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__OptionsTb__quest__2739D489] ON [dbo].[OptionsTbls]
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_OrdersTbl_CustomersTbl]    Script Date: 9/26/2019 11:16:53 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_OrdersTbl_CustomersTbl] ON [dbo].[OrdersTbls]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterestsTbls]  WITH CHECK ADD  CONSTRAINT [FK_InterestsTbl_CustomersTbl] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CustomersTbls] ([id])
GO
ALTER TABLE [dbo].[InterestsTbls] CHECK CONSTRAINT [FK_InterestsTbl_CustomersTbl]
GO
ALTER TABLE [dbo].[InterestsTbls]  WITH CHECK ADD  CONSTRAINT [FK_InterestsTbl_MonitorsTbl] FOREIGN KEY([monitor_id])
REFERENCES [dbo].[MonitorsTbls] ([monitor_id])
GO
ALTER TABLE [dbo].[InterestsTbls] CHECK CONSTRAINT [FK_InterestsTbl_MonitorsTbl]
GO
ALTER TABLE [dbo].[OptionsTbls]  WITH CHECK ADD  CONSTRAINT [FK__OptionsTb__monit__282DF8C2] FOREIGN KEY([monitor_id])
REFERENCES [dbo].[MonitorsTbls] ([monitor_id])
GO
ALTER TABLE [dbo].[OptionsTbls] CHECK CONSTRAINT [FK__OptionsTb__monit__282DF8C2]
GO
ALTER TABLE [dbo].[OptionsTbls]  WITH CHECK ADD  CONSTRAINT [FK__OptionsTb__quest__2739D489] FOREIGN KEY([question_id])
REFERENCES [dbo].[QuestionsTbls] ([question_id])
GO
ALTER TABLE [dbo].[OptionsTbls] CHECK CONSTRAINT [FK__OptionsTb__quest__2739D489]
GO
ALTER TABLE [dbo].[OrdersTbls]  WITH CHECK ADD  CONSTRAINT [FK_OrdersTbl_CustomersTbl] FOREIGN KEY([customer_id])
REFERENCES [dbo].[CustomersTbls] ([id])
GO
ALTER TABLE [dbo].[OrdersTbls] CHECK CONSTRAINT [FK_OrdersTbl_CustomersTbl]
GO
ALTER TABLE [dbo].[OrdersTbls]  WITH CHECK ADD  CONSTRAINT [FK_OrdersTbl_MonitorsTbl] FOREIGN KEY([monitor_id])
REFERENCES [dbo].[MonitorsTbls] ([monitor_id])
GO
ALTER TABLE [dbo].[OrdersTbls] CHECK CONSTRAINT [FK_OrdersTbl_MonitorsTbl]
GO
USE [master]
GO



USE [Chatbot]
GO








GO